.related-products {
    margin-top: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .product {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    position: relative; /* Agregado para posicionar los elementos relativos a .product */
  }
  
  .product img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  .product h3 {
    margin-top: 8px;

  }
 
  .product .price {
    position: absolute; /* Posiciona el precio de manera absoluta */
    bottom: 15px; /* Ajusta la distancia desde el borde inferior */
    left: 0; /* Ajusta la distancia desde el borde izquierdo */
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  
  .product .original-price {
    text-decoration: line-through;
    color: #888;
  }
  
  .product .discounted-price {
    font-weight: bold;
    color: #c00;
    
  }
  
  .product a {
    position: absolute; /* Posiciona el enlace "Ver más" de manera absoluta */
    bottom: 40px; /* Ajusta la distancia desde el borde inferior */
    right: 10px; /* Ajusta la distancia desde el borde derecho */
  }
  
  .product p {
    margin-top: 30px; /* Ajusta el margen superior de la descripción */
    margin-bottom: 5px; /* Ajusta el margen inferior de la descripción */
  }
